html {
  overflow-y: scroll; 
}
body {
	background-color: black;
	color: #F38A03;
	font-family: 'Cuprum', sans-serif;
	letter-spacing: 0.1em;

}

/*HEADER*/

.container {
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	border: 0;
	margin-bottom: 25px;
	padding: 0;
	text-align: center;
	font-weight: 700;
}
	
}
.header {
	display: inline;
}

.header p {
	margin-top: 55px;
	font-size: 18px;
	color: white;
}

.header-icons {
	float: right;
	margin-right: 24px;
	position: relative;
	bottom: 37px;
}

.header-icons i {
	padding: 10px;
	color: white;
}

/*NAVBAR*/

.navbar-inverse {
	top: 12px;
}

.navbar-brand img {
	position: relative;
	float: left;
	margin-right: 60px;
	bottom: 5px;    
}

.navbar-nav {
	margin-top: 1%;
	letter-spacing: 0.2em;
	margin-right: 200px;
	font-size: 15px;
}

.navbar-left {
	margin-top: -44px;
	position: relative;
	margin-left: 60px;
}

.form-group {
	margin-top: 26px;
	margin-left: 186px;
}

.dropdown-toggle {
	float: right;
}

.btn {
	background-color: rgb(91, 90, 91);
}

/*FEATURED */

h1 {
	text-align: center;
}

hr {
    height: 12px;
    border: 0;
    color:  white;
}
/*JUMBOTRON*/
.jumbotron {
	/*position: relative;*/
	padding: 0;
	margin: 0;
	height: 0px;
}
.jumbotron img  {
	
}

.jumbotron .container p {
	font-size: 4em;
	margin-left: 633px;
	margin-bottom: 0;
	position: relative;
	bottom: 310px;

}
#new-arrivals {
	position: relative;
}

/*GRID CONTENT*/
.ban-bottom {
	padding: 2em 0;
	bottom: 28px;
	left: 15px;
}

.content {
	margin-top: 441px;
	display: block;
	left: 0.5%;
	bottom: 0px;
	position: relative;
}

.ban-top {
	position: relative;
	overflow: hidden;
	left: 1%;
}
.ban-top img {
	transition: all; 1s;
	width: 95%;
}

.ban-top2 img {
	left: 6px;
	position: relative;
	width: 95%;
	height: 221px;
	bottom: 60px;
}

.ban-text {
	position: relative;
	top: 50%;
	left: 25%;
	padding: 1em;
}

.ban-text1 h4 {
	font-size: 5em;
	padding: 0 0;
	margin: 0 0;
	position: relative;
	bottom: 237px;
	left: -29px;
	background-color: rgba(24, 21, 21, 0.75);
}

.ban-text h4  {
	font-size: 4em;
	padding: 0 0;
	margin: 0 0;
	position: relative;
	bottom: 205px;
	right: 80px;
	background-color: rgba(24, 21, 21, 0.75);
}

.ban-top2 .ban-text h4 {
	right: 168px;
}

div .ban-img {
	margin-top: -103px;
}
.ban-bottom3 .ban-top img.img-responsive {
	margin-top: 46px;
}

.ban-bottom1  {
	float: left;
	width: 48%;
	margin-right: 2%; 
}

.ban-bottom2  {
	float: left;
	width: 48%;
	margin-right: 2%; 
}

.ban-bottom3 {
	float: right;
}

div.col-md-6.ban-bottom3 div.ban-top4 img {
	top: 70px;
}

div.col-md-6.ban-bottom3 {
	bottom: 45px;
}


/*FOOTER*/
.footer {
	position: relative;
}